
footer{
	padding: 30px;
}
.gambarAbout1{
	padding:50px;
	padding-left: 300px;
}
.gambarAbout2{
	padding: 30px;
	padding-left: 350px;
}
.kartu1{
	padding: 100px;
	padding-left: 30px;
}
.kartu1 div{
	background-color: #F0F8FF;
	max-width: 500px;
	padding: 20px;
}
.kartu2{
	padding: 0px 100px;
}
.kartu2 div{
	background-color: #F0F8FF;
	width: 300px;
	padding: 20px;
}
.kartu3{
	padding: 0px 100px;
}
.kartu3 div{
	background-color: #F0F8FF;
	width: 500px;
	padding: 20px;
}
.kartu4{
	padding: 0px 100px;
}
.kartu4 div{
	background-color: #F0F8FF;
	max-width: 300px;
	padding: 20px;
}
.some-project div{
	padding: 20px;
	background: #B0E0E6;
}
.project2{
	padding-left: 25px;
}
.bg-story{
	background-image: url(img/abstractbg.jpg);
}
.story div{
	padding: 20px;
}
.bg-edsteel{
	background-image: url(img/bggaming.jpg);
}
.stroke{
	font-family: Copperplate, "Copperplate Gothic Light", fantasy;
	font-style: normal;
	color: #6495ED;
	-webkit-text-stroke: 0.0001em #000080;
	font-size: 100px;
	font-variant: normal; 
	font-weight: 700; 
	line-height: 100px;
}
.gaming div{
	padding: 20px 0px;
}
.gaming h3{
	padding: 0px 50px;
}
.gaming img{
	padding: 0px 50px;
}
.thumb-img{
	max-width: 480px;
	max-height: 100%;
}
.edsteel-content{
	max-width: 500px;
	padding: 20px 20px;
}
.galeri{
	padding: 50px 0px;
}
.thumbnail{
	padding: 20px;
	width: 400px;
	height: 280px;
}
.thumb-video{
	padding: 0px 20px;
	max-width: 480px;
	height: 100%;
}
.caption{
	padding-left: 50px;
	text-align: center;
	color: black;
}
.form-pesanan{
	width: 600px;
	margin-left: 50px;
  	padding: 20px 30px;
  	display: inline-grid;
  	border: 5px solid #A9A9A9;
  	border-radius: 10px;
}
.form-pesanan input{
  	display: inline-block;
  	border: 1px solid #ccc;
  	border-radius: 4px;
}
.form-pesanan textarea{
  	display: inline-block;
  	border: 1px solid #ccc;
  	border-radius: 4px;
}
.form-pesanan label[id=tulis]{
	padding-top: 15px;
}
.form-pesanan input[type=submit]{
	width: 100%;
  	padding: 10px 10px;
  	margin: 10px 0;	
  	border-radius: 4px;
  	background-color: #B8860B;
}
.form-kerjasama{
	width: 600px;
	margin-left: 50px;
  	padding: 20px 30px;
  	display: inline-grid;
  	border: 5px solid #A9A9A9;
  	border-radius: 10px;
}
.form-kerjasama input{
  	display: inline-block;
  	border: 1px solid #ccc;
  	border-radius: 4px;
}
.form-kerjasama textarea{
  	display: inline-block;
  	border: 1px solid #ccc;
  	border-radius: 4px;
}
.form-kerjasama label[id=tulis]{
	padding-top: 15px;
}
.form-kerjasama input[type=submit]{
	width: 100%;
  	padding: 10px 10px;
  	margin: 10px 0;	
  	border-radius: 4px;
  	background-color: #B8860B;
}
.article-content h1{
	padding: 50px 40px;
}
.article-content h5{
	max-width: 900px;
	padding: 0px 70px;
}
.article-content img{
	max-width: 100%;
	width: 720px;
	height: auto;
	padding: 40px 70px;
}
.article-content li{
	padding: 0px 70px;
}
.article-content p{
	max-width: 900px;
	padding: 0px 70px;
}
.story-content h1{
	padding: 60px;
	text-align: center;
}
.story-content p{
	padding: 10px 100px;
	max-width: 1100px;
	text-align: center;
}